.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  width: fit-content;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding-bottom: 2rem;
}

.title {
  font-family: var(--font-zilla-slab);
  font-weight: bold;
  font-size: clamp(3rem, 6vw, 6.5rem);
  color: transparent;

  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;

  max-width: 90vw;

  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s ease-in-out; /* load from left to right */
}

.title.visible {
  clip-path: inset(0 0 0 0);
}

.description {
  font-size: clamp(1.25rem, 2vw, 1.75rem);

  max-width: 60rem;

  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.3s; /* fade in */
}

.description.visible {
  opacity: 1;
}

.description strong {
  color: var(--blurple);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.ctaButton,
.secondaryButton {
  font-weight: 700;
  font-size: 1.5rem;

  width: 16rem;
  border-radius: 10px;
  padding: 0.5rem;

  transition: all 0.3s ease;
}

.ctaButton {
  color: var(--white);
  font-weight: 700;
  background: var(--pink);
}

.ctaButton:hover {
  background: var(--gradient);
}

.secondaryButton {
  color: var(--pink);
  border: solid 1px;
  background: var(--white);
}

.secondaryButton:hover {
  color: var(--white);
  background: var(--pink);
}

@media (width <= 1280px) {
  .container {
    gap: 2rem;
    width: 80vw;
  }
}

@media (width <= 1024px) {
  .container {
    padding-bottom: 1rem;
  }
}

@media (width <= 640px) {
  .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .ctaButton,
  .secondaryButton {
    font-weight: 700;
    font-size: 1.25rem;

    width: 60vw;
    border-radius: 10px;
    padding: 1rem;
  }

  .container {
    width: 90vw;
    padding-bottom: 1.25rem;
  }
}
