.container {
  display: grid;
  grid-template-areas:
    'upperCircle'
    'lowerCircle'
    'content';
  place-items: center;
  max-width: min(775px, calc(100% - 2rem));
  margin-inline: auto;
  > * {
    grid-column: 1 / 1;
  }
}

.content {
  grid-row: content-start / content-end;
  padding: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 1.25rem;
  gap: 1em;
  text-align: center;
  padding: 2em;
  padding-block-start: 0;
  p {
    font-size: inherit;
  }
}

.circle {
  grid-row: upperCircle-start / lowerCircle-end;
  display: grid;
  width: min(250px, 80%);
  aspect-ratio: 1 / 1;
  position: relative; /* <- for child images to be `fill` */
  place-items: center;
  > * {
    grid-area: 1 / 1;
  }
}

.bgBox {
  grid-row: lowerCircle-start / content-end;
}

.glow {
  /* TODO the color here is `var(--purple)` but with 50% opacity.
   * we should maybe do the color globals differently so cases like this go smoother
   * but for now im just gonna leave it like this.
   * -amgg */
  box-shadow: 0px 0px 20px #a031d480;
}

/* FIXME should go somewhere shared (or into the css of a reused component mayb),
 * since this same style of button is used elsewhere too. */
.ctaButton {
  position: relative;
  font-size: 1.15rem;
  color: var(--white);
  font-weight: 700;
  display: block;
  width: fit-content;
  padding-inline: 1.25em;
  padding-block: 0.3em;
  border-radius: 2em;
  /*
  background: linear-gradient(
    90deg in oklab,
    var(--blurple),
    var(--color-brand-pink),
    var(--yellow)
  );
  background-position: center;
  background-size: 300% 100%;
  transition: background-size .5s ease;
  &:hover {
    background-size: 100% 100%;
  }
  */
  background: linear-gradient(90deg in oklab, var(--blurple), var(--color-brand-pink), var(--yellow));
}

.ctaButton > svg {
  path {
    transition: all 1s linear;
    /* x: -100%; */
  }
}
.ctaButton:hover > svg {
  path {
    x: 0%;
  }
}

.g1,
.g2 {
  transition: cx 0.8s ease-in;
  .ctaButton:hover & {
    transition: cx 0.5s ease-out;
  }
}
.g1 {
  .ctaButton:hover & {
    cx: 0%;
  }
}
.g2 {
  .ctaButton:hover & {
    cx: 100%;
  }
}
