.header {
  --header-color-text: #f00;
  --header-color-accent: #0f0;
  --header-color-bg: #00f;
  position: sticky;
  top: 0;
  background-color: var(--header-color-bg);
  width: 100%;
  /* TODO we should standardize our z-index values into some standard vars mayhaps. */
  z-index: 999;
}

.headerStandard {
  --header-color-text: var(--black);
  --header-color-accent: var(--blurple);
  --header-color-bg: var(--white);
}

.headerHomepage {
  --header-color-text: var(--white);
  --header-color-accent: var(--yellow);
  --header-color-bg: var(--blurple);
  background: linear-gradient(var(--header-color-bg), transparent);
  position: fixed;
}

/* a hyperlink navbar item */
.navLink {
  font-size: 1rem;
  color: var(--header-color-text);
  font-weight: 400;
  &:hover {
    color: var(--header-color-accent);
    font-weight: 700;
  }
  text-align: center;
  transition:
    font-weight 0.2s ease,
    text-decoration-color 0.2s ease;
}

.navLinkCurrent {
  font-weight: 700;
  color: var(--header-color-accent);
  text-decoration: underline 2px;
  &:hover {
    /* (making it transparent instead of turning it off since that way we can transition the decoration color to get it
     *  to animate) */
    text-decoration-color: transparent;
  }
}

/* navlink bold spacing fix stuff
 * via https://css-tricks.com/bold-on-hover-without-the-layout-shift/ */
.navLink {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &::after {
    content: attr(data-text);
    content: attr(data-text) / '';
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 700;
    @media speech {
      display: none;
    }
  }
}

.logoImageContainer {
  position: relative;
  height: 40px;
  aspect-ratio: 1;
  box-sizing: content-box;
  border: 3px solid var(--blurple);
  background-color: var(--blurple);
  border-radius: 100%;
}

.navLinksList {
  display: flex;
  align-items: center;
  /* calculated with https://clampgenerator.com/tools/layout-spacing-size/ ,
   * [900px,1000px] viewport, [8px,20px] prop */
  gap: clamp(0.5rem, calc(-6.25rem + 12vw), 1.25rem);
}
