/* app/public/ambassadors/page.module.css */
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.ambassadorCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4rem;
}