.container {
  width: 16rem;
  font-family: var(--font-nunito-sans);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo {
  aspect-ratio: 1;
  background-size: cover;
}

.ambassadorDetails {
  margin: 1.25rem;
}

.ambassadorName {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.ambassadorRole {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
}